DATABASE_USER=magnolia
DATABASE_PASSWORD=Magnolia@123
DATABASE_HOST=20.244.120.238
DATABASE_NAME=magnoliaopd
HOST=XXXXX
BASE_URL=XXXXXXX
LOCAL_HOST=20.244.120.238
LOCAL_BASE_URL=XXXXXXX
BASE_URL_MOBILE=XXXXXXX
PORT=3306
AWS_ACCESS_KEY_ID=XXXXXXX
AWS_SECRET_ACCESS_KEY=XXXXXXX
AWS_PUBLIC_BUCKET_NAME=XXXXXXX
AWS_REGION=XXXXXXX